/venv/*
/env/*
.env
#ignoring idea
/.idea/*
/.vscode/*
#ignoring database
/db.sqlite3/*

#ignoring migrations
/app/migrations/*





#ignoring pycache
__pycache__/
/app/migrations/__pycache__/*
/Online_shopping/__pycache__/*
/app/__pycache__/*